*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #242424;
    color: aliceblue;
}
.container{
    display: flex;
    flex-direction: column;
    background-color:black;
    width: 50%;
    padding: 10px;
}
span{
    display: inline-block;
    background-color: red;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}